.post_card-container {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;

}
.post_card-author-name {
    
}
.post_card-comment {

}
.post_card-feedback-icons {
    float: right;
    margin-bottom: 5px;
    

}
