.main-page_body {
    background-color: #E2F2EE;
    border-radius: 2%;

}

.main-page_posts-section {
    /* height: 100vh; */
    max-width: 60%;
    margin: auto;
    padding-bottom: 25px;
    border-radius: 2%;
    overflow: hidden;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color:black;
    background-color: white;
    border-radius: 25px;
    max-width: 60%;     
    padding: 25px;
}

